* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  background-color: cyan;
  display: flex;
  flex-direction: column;
}
.heading {
  text-align: center;
  font-weight: 200;
  font-size: 25px;
}
.container1 {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
